body {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    text-transform: uppercase;
    background-color: #f2f2f2;
}

.container {
    margin: 0 40px;
    width: 1200px;
    background-color: #ffffff;
    box-shadow: 0 0 15px 2px #323232;
}

.navigation-main {
    list-style-type: none;
    font-weight: bold;
    line-height: 26px;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 0;
}

.clearfix:after {
    display: table;
    clear: both;
    content: "";
}

.navigation-main a {
    text-decoration: none;
    color: #000000;
}

.navigation-main li {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.navigation-main li:first-child,
.navigation-main li:nth-child(2) {
    text-align: left;
    padding-left: 72px;
    width: 168px;
}

.navigation-main li:nth-child(4),
.navigation-main li:last-child {
    text-align: right;
    padding-right: 72px;
    width: 168px;
}

.navigation-main li:nth-child(3) {
    width: 240px;
}

header {
    position: relative;
}

.logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-69px);
    z-index: 10;
}

.presentation {
    position: relative;
    background-color: #d9eaf1;
    background-image: url(../img/background.jpg);
    background-position: 0 -90px;
    background-repeat: no-repeat;
    width: 1200px;
    min-height: 508px;
    background-size: cover;
    padding: 0;
    margin: 0;
}

.presentation::after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 57px;
    width: 1200px;
    background: url(../img/background-decoration.png) no-repeat center;
}

.presentation img {
    display: block;
    margin: auto;
}

.presentation-welcome {
    padding-top: 73px;
}

.presentation-georgeous {
    padding-top: 8px;
    width: 176px;
    margin: auto;
    position: relative;
}

.presentation-georgeous::before,
.presentation-georgeous::after {
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    width: 27px;
    height: 2px;
    background-color: #766357;
}

.presentation-georgeous::before {
    left: -40px;
}

.presentation-georgeous::after {
    right: -40px;
}

.presentation-sedona {
    padding-top: 50px;
}

.presentation-slogan {
    padding-top: 50px;
}

h1 {
    font-size: 21px;
    line-height: 26px;
    width: 575px;
    text-align: center;
    margin: auto;
    margin-top: 56px;
    margin-bottom: 38px;
    font-weight: bold;
}

p {
    color: #333333;
    width: 575px;
    margin: auto;
    margin-bottom: 57px;
    text-align: center;
}

.text,
.picture {
    float: left;
    height: 256px;
}

.text {
    width: 400px;
    box-sizing: border-box;
    background-color: #81b3d2;
    color: #ffffff;
    padding-top: 45px;
    padding-bottom: 45px;
}

.text h2,
.icons h2,
.benefits h2 {
    display: block;
    margin: auto;
    font-size: 21px;
    text-align: center;
    width: 155px;
}

.text b {
    margin: auto;
    display: block;
    font-weight: normal;
    text-align: center;
    margin-top: 24px;
    width: 310px;
}

.icons,
.benefits {
    float: left;
    width: 400px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.icons {
    min-height: 330px;
}

.icons h2 {
    padding-top: 152px;
}

.icons b,
.benefits b {
    display: block;
    margin: auto;
    text-align: center;
    font-weight: normal;
    width: 290px; 
    margin-top: 26px;
}

.icons-house,
.icons-meal,
.icons-gift {
    position: relative;
}

.icons-house::before {
    content: "";
    display: block;
    position: absolute;
    top: 53px;
    left: 50%;
    transform: translateX(-37px);
    width: 75px;
    height: 72px;
    background: url(../img/icon-1.png) no-repeat center;
}

.icons-meal::before {
    content: "";
    display: block;
    position: absolute;
    top: 53px;
    left: 50%;
    transform: translateX(-37px);
    width: 74px;
    height: 70px;
    background: url(../img/icon-2.png) no-repeat center;    
}

.icons-gift::before {
    content: "";
    display: block;
    position: absolute;
    top: 53px;
    left: 50%;
    transform: translateX(-32px);
    width: 64px;
    height: 76px;
    background: url(../img/icon-3.png) no-repeat center;    
}

.benefits {
    background-color: #eeeeee;
    min-height: 255px;
}

.benefits h2 {
    margin-top: 47px;
}

.search b {
    display: block;
    font-size: 30px;
    line-height: 24px;
    font-weight: bold;
    margin-top: 53px;
    margin-bottom: 33px;
    text-align: center;
}

.search p {
    margin-bottom: 52px;
}

.search a {
    display: block;
    text-decoration: none;
    color: #ffffff;
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    padding-top: 29px;
    padding-bottom: 29px;
    width: 570px;
    background-color: #766357;
    text-align: center;
    margin: 0 auto;
}

.footer-main {
    background-image: url(../img/map.jpg);
    background-repeat: no-repeat;
    background-position: top;
    width: 1200px;
    height: 593px;
    position: relative;
}

.footer-bottom {
    position: absolute;
    bottom: 0;
    min-height: 120px;
    background-color: rgba(255,255,255,0.9);
}

.footer-bottom:not(.footer-index) {
    position: static;
}

.hash,
.social,
.copyright {
    float: left;
    width: 400px;
    box-sizing: border-box;
    text-align: center;
}

.hash {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    margin-top: 47px;
    text-decoration: none;
    color: #000000;
}

.copyright {
    padding-top: 38px;
}

.copyright b {
    font-weight: normal;
}

.copyright b,
.copyright a {
    display: inline-block;
    vertical-align: middle;
}

.social {
    font-size: 0;
    padding-top: 35px;
}

.social-tw {
    display: inline-block;
    vertical-align: middle;
    background: url(../img/sprite.png) no-repeat center;
    width: 46px;
    height: 48px;
    background-position: -532px -5px;
    margin-right: 6px;
}

.social-fb {
    display: inline-block;
    vertical-align: middle;
    background: url(../img/sprite.png) no-repeat center;
    width: 46px;
    height: 48px;
    background-position: -233px -5px;
    margin-right: 6px;
}

.social-yt {
    display: inline-block;
    vertical-align: middle;
    background: url(../img/sprite.png) no-repeat center;
    width: 46px;
    height: 48px;
    background-position: -764px -5px;
}

.footer-search {
    width: 570px;
    height: 395px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    box-shadow: 0 5px 15px 2px #323232;
    font-size: 0;
    font-weight: bold;
    padding: 54px;
}

.footer-search label {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 26px;
    width: 114px;
}

.footer-search label:last-of-type {
    padding-left: 53px;
    width: 61px;
}

.footer-search .date {
    display: inline-block;
    vertical-align: middle;
    padding: 5px 10px;
    width: 287px;
    background-color: #f2f2f2;
    outline: none;
    border: none;
    margin-bottom: 30px;
    color: #000000;
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    min-height: 26px;
}

.calender {
    display: inline-block;
    vertical-align: middle;
    width: 36px;
    height: 36px;
    font-size: 0;
    margin-bottom: 30px;
    background-color: #f2f2f2;
    background-image: url(../img/sprite.png);
    background-position: 2px 2px;
    background-repeat: no-repeat;
    outline: none;
    border: none;
    cursor: pointer;
}

.search-btn {
    font-size: 21px;
    line-height: 26px;
    color: #ffffff;
    padding: 16px 195px;
    background-color: #81b3d2;
    outline: none;
    border: none;
    margin-top: 24px;
    cursor: pointer;
}

.minus-btn,
.plus-btn,
.number {
    display: inline-block;
    vertical-align: middle;
    background-color: #f2f2f2;
    outline: none;
    border: none;
    width: 38px;
    height: 38px;
    margin-bottom: 30px;
}

.minus-btn {
    background-image: url(../img/icon-minus.png);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.plus-btn {
    background-image: url(../img/icon-plus.png);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.number {
    color: #000000;
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    text-align: center;
    height: 36px;
}

.choice-form {
    background-color: #3c739c;
    background-image: url(../img/background-filtered.jpg);
    background-position: 0 -90px;
    padding-top: 32px;
    padding-left: 71px;
    padding-right: 74px;
}

.choice-form h2 {
    margin: 0;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    line-height: 21px;
}

.choice-form-infra,
.choice-form-housing {
    float: left;
    width: 254px;
}

.choice-form-filter {
    float: right;
}

.choice-form-filter h2 {
    color: #ffffff;
    font-size: 16px;
    line-height: 21px;
    font-weight: bold;
}

.choice-form-filter b,
.choice-form-filter button {
    color: #ffffff;
    font-size: 16px;
    line-height: 21px;
    font-weight: normal;
}

.choice-form label {
    font-size: 14px;
    font-weight: normal;
    color: #ffffff;
    line-height: 21px;
}

.choice-form input[type="checkbox"] {
    display: none;
}

.choice-form input[type="checkbox"]+label {
    display: block;
    margin: 15px 0;
    padding-left: 37px;
    position: relative;
    cursor: pointer;
}

.choice-form input[type="checkbox"]:checked+label:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../img/sprite.png);
    width: 26px;
    height: 22px;
    background-position: -161px -5px;
}

.choice-form input[type="checkbox"]:not(:checked)+label:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 1px;
    background-image: url(../img/sprite.png);
    width: 26px;
    height: 22px;
    background-position: -700px -5px;
}

.hotels {
    margin: 0;
    padding: 0;
    list-style-type: none;
    border-top: 1px solid #e5e5e5;
}

.hotel-list {
    display: block;
    border-bottom: 1px solid #e5e5e5;
    padding: 30px 72px;
}

.hotel-list img,
.hotel-status {
    float: left;
}

.hotel-rate {
    float: right;
}

.hotel-status {
    margin-left: 30px;
    width: 265px;
}

.hotel-status h2 {
    display: block;
    font-size: 21px;
    line-height: 26px;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}

.hotel-status b {
    display: inline-block;
    vertical-align: bottom;
    font-size: 14px;
    line-height: 21px;
    color: #333333;
    font-weight: normal;
    width: 115px;
    margin: 0;
    margin-bottom: 10px;
}

.hotel-status a {
    display: inline-block;
    vertical-align: bottom;
    text-decoration: none;
    font-size: 14px;
    line-height: 21px;
    font-weight: bold;
    color: #ffffff;
    padding: 0 16px;
    padding-top: 6px;
    padding-bottom: 5px;
}

.hotel-details {
    background-color: #81b3d2;
}

.hotel-booking {
    background-color: #766357;
}

.hotel-rate b {
    background-color: #f2f2f2;
    color: #666666;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    padding-left: 14px;
    padding-right: 12px;
    padding-top: 5px;
    padding-bottom: 6px;
}

.hotel-stars {
    font-size: 0;
    margin-bottom: 46px;
    background-repeat: no-repeat;
    background-position: top right;
}

.hotel-list:first-child .hotel-stars {
    background-image: url(../img/4-stars.png);
}

.hotel-list:nth-child(2) .hotel-stars {
    background-image: url(../img/3-stars.png);
}

.hotel-list:last-child .hotel-stars {
    background-image: url(../img/2-stars.png);
}

.found {
    padding-left: 72px;
    padding-right: 72px;
    padding-bottom: 30px;
    padding-top: 30px;
}

.found-left {
    float: left;
}

.found-right {
    float: right;
}

.found-left b:first-of-type {
    display: inline-block;
    vertical-align: bottom;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    width: 165px;
}

.found-left b:last-of-type,
.found-left a {
    display: inline-block;
    vertical-align: bottom;
    font-size: 12px;
    line-height: 18px;
    font-weight: normal;
    color: #000000;
    text-decoration: none;
}

.found-left a:not(.current) {
    border-bottom: 1px dotted #81b3d2;
    margin-left: 30px;
}

.found-left .current {
    color: #81b3d2;
    margin-left: 38px;
}

.arrow-up,
.arrow-down {
    display: inline-block;
    vertical-align: bottom;
    font-size: 0;
    cursor: pointer;
}

.arrow-up {
    background-image: url(../img/sprite.png);
    width: 11px;
    height: 10px;
    background-position: -98px -5px;
}

.arrow-down {
    background-image: url(../img/sprite.png);
    width: 11px;
    height: 10px;
    background-position: -119px -5px;
    transform: rotate(180deg);
    margin-left: 10px;
}